body {
background: black;
color: whitesmoke;
margin: 0;
padding: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.team-section{
   overflow: hidden;
   text-align: center;
   background: black;
   padding: 60 px;
}

.team-section h1 {
   text-transform: uppercase;
   margin-bottom: 60px;
   color: white;
   font-size: 55px;

}

.team-section p {
 font-size: 18px;
}



.border{
display:block;
margin: auto;
width: 160px;
height: 3px;
background: whitesmoke;
margin-bottom: 40px;
}


 .container {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 200px;
   border: 1px solid black;
 }

 .social {
   position: relative;
   display: inline-block;
   float: left;
   padding: 10px;
 }