body {
margin: 0;
padding: 0;
color: white;
}

.item1 {
  grid-area: header;
}
.item2 {
  grid-area: menu;
}
.item3 {
  grid-area: main;
}
.item4 {
  grid-area: buttons;
}
.item5 {
  grid-area: right;
  font-size: 15px;

}
.item6 {
  grid-area: footer;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "right right right buttons buttons buttons"
    "menu menu  menu main main main"
    "menu menu  menu main main main";
  grid-gap: 10px;
  background-color: #353638;
  padding: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

#image {
  width: 100%;
  height: 100%;
}

.clue {
  font-size: 20px;
}

#hiddenButton {
color: #353638;}
