body {
margin: 0;
padding: 0;
background: url("/images/murdascene.jpg");
background-size: 95%;

}

.loginbox{
 opacity: 0.85;
 width: 420px;
 height: 420px;
 background: #000;
 color: #fff;
 top: 50%;
 left: 50%;
 position: absolute;
 transform: translate(-50%,-50%);
 box-sizing: border-box;
 padding: 30px 30px color: darkgrey;
 text-align: center;
 text: 16px;
 }

 h1 {
 margin: 0;
 padding: 0 0 20px;
 text-align: center;
 font-size: 30px;
 }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.developers {
  color: white
  float:right;
}