<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link href="about.css" rel="stylesheet" />
</head>
<body>
<div>
    <ul>
        <li><a class="/active" href="/index">Home</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/tutorial">How To Play</a></li>

    </ul>
</div>
<div class="team-section">
    <h1>Our Team</h1>
    <span class="border"></span>
    <div class="ps">
        <a class="img" href="#"><img src="murdascene.jpg" alt=""></a>
    </div>
    <p>We are a group of developers that found ourselves struggling to find motivation to perform some sort of daily exercise.<br>
        So we decided that we were going to solve this problem by creating a game to help people who were in the same shoes, by getting them of the couch<br>
        and start heading outside to walk around and solve captivating mysteries. We also acknowledge the importance of the environment<br>
        so we designed our game for usage outdoors, so that you can enjoy the game outside, while saving money and keeping the electric bill at home low.<br>
        Our mission is simple: Solve Murders, Exercise, Save Energy</p>
</div>

</body>
</html>