<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link href="about.css" rel="stylesheet" />
</head>
<body>
<div>
    <ul>
        <li><a class="/active" href="/index">Home</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/tutorial">How To Play</a></li>

    </ul>
</div>
<div class="team-section">
    <h1>Coming Soon</h1>
    <span class="border"></span>
    <br>
    <p>Seasonal challenges that are regional with PVP functionality</p>
    <br>
    <span class="border"></span>
    <br>
    <p>Ranking system where you can compare your stats against others and view leaderboards</p>
    <br>
    <span class="border"></span>
    <br>
    <p>Time challenge MurderClueWalk - Solve the mystery while battling the clock</p>
    <br>
    <span class="border"></span>
</div>

</body>
</html>