<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game</title>
    <link href="game.css" rel="stylesheet"/>
</head>
<body>
<div>
    <ul>
        <li><a class="active" href="/index">Home</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/tutorial">How To Play</a></li>
    </ul>
</div>
<div class="grid-container">
    <div class="item1"><h1> Location 1</h1>
    </div>

    <div class="item2">
        <img id="image" src="images/scene.jpg">
    </div>
    <div class="item3" id="map"></div>
    <style>
      #map {
        height: 400px;
        width: 400px;
       }
    </style>
    <script>



  var map, infoWindow, posA, posB;


  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: -34.397, lng: 150.644},
      zoom: 6
    });
     createMarker();
    infoWindow = new google.maps.InfoWindow;

    // Try HTML5 geolocation.
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        var pos = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };

        posA=pos;

 console.log(pos);
        infoWindow.setPosition(pos);
        infoWindow.setContent('Location found.');

        infoWindow.open(map);
        map.setCenter(pos);

return posA;

      }, function() {
        handleLocationError(true, infoWindow, map.getCenter());
      });


    } else {
      // Browser doesn't support Geolocation
      handleLocationError(false, infoWindow, map.getCenter());
    }
  }

 function createMarker() {
   var Kista = { lat: 59.402435, lng: 18.040762 };
   var marker = new google.maps.Marker({ position: Kista, map: map });
   <!--var Kista2 = { lat: 58.402435, lng: 17.946482 };-->
   <!--var marker2 = new google.maps.Marker({ position: Kista2, map: map });-->

   posB=Kista
   return posB;
 }



function compareLocation(){

    // console.log(posA,posB)

// posA = { lat: 59.402435, lng: 17.946482 };
// posB = { lat: 58.402435, lng: 15.946482};

  let distance = Math.sqrt( (posA.lat - posB.lat)**2 + (posA.lng - posB.lng)**2 ); // (((Kista.lat-Kista2.lat)^2 +(Kista.lng-Kista2.lng)2 )^0.5);
  console.log(distance);
  document.getElementById("result").innerHTML = "Your distance to the destination is " + distance;
  if (distance < 10){
    document.getElementById("next").innerHTML = "Proceed to next clue";

          var x = document.getElementById("hide");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
    return true;

  }
  else{
    document.getElementById("next").innerHTML = "You have not yet arrived at the destination";

return false;
  }

}

  function handleLocationError(browserHasGeolocation, infoWindow, pos) {
    infoWindow.setPosition(pos);
    infoWindow.setContent(browserHasGeolocation ?
                          'Error: The Geolocation service failed.' :
                          'Error: Your browser doesn\'t support geolocation.');
    infoWindow.open(map);
  }

</script>

    <script async="" defer="" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_jwnTApaXdy0x7JR_ZqzzxL86__SQoUE&amp;libraries=geometry&amp;callback=initMap">
    </script>

    <div class="item4">
        <p>Click the button to check if you're at the right location!</p>

        <!-- <button onclick="getCurrentPosition()">Try It</button> -->

        <button onclick="compareLocation()">Check distance</button>
        <p id="result"></p>
        <p id="next"></p>
        <button id="hide" type="button" style="display:none">Next Clue</button>

    </div>
</div>
<div class="item5">Murderscene - clue 1
    You (the detective) show up to the crime scene. There is a dead woman lying dead on the floor.
    Next to her is a knife, but there doesn't seem to be any blood. Throughout the room there are signs of a struggle.
    The woman does not appear to have died of natural causes. You see muddy footprints leading toward the door. You decide to follow them outside.
</div>
<div class="item6">Score</div>


</div>
</body>
</html>





