<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game</title>
    <link href="game.css" rel="stylesheet"/>
</head>
<body>
<div>
    <ul>
        <li><a class="active" href="/index">Home</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="/about">About</a></li>

        <li><a href="/tutorial">How To Play</a></li>
    </ul>
</div>
<div class="grid-container">
    <div class="item1"><h1> The park </h1>
    </div>

    <div class="item2">
        <img id="image" src="images/scene2.jpg">
    </div>
    <div class="item3" id="map"></div>
    <style>
      #map {
        height: 100%;
        width: 100%;
        color: black;
       }
    </style>
    <script>



  var map, infoWindow, posA, posB;


  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: -34.397, lng: 150.644},
      zoom: 6
    });
     createMarker();
    infoWindow = new google.maps.InfoWindow;

    // Try HTML5 geolocation.
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        var pos = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };

        posA=pos;

 console.log(pos);
        infoWindow.setPosition(pos);
        infoWindow.setContent('Location found.');

        infoWindow.open(map);
        map.setCenter(pos);

return posA;

      }, function() {
        handleLocationError(true, infoWindow, map.getCenter());
      });


    } else {
      // Browser doesn't support Geolocation
      handleLocationError(false, infoWindow, map.getCenter());
    }
  }

 function createMarker() {

   var Kista = { lat: 59.347774, lng: 18.042158 };
   var marker = new google.maps.Marker({ position: Kista, map: map });
   <!--var Kista2 = { lat: 58.402435, lng: 17.946482 };-->
   <!--var marker2 = new google.maps.Marker({ position: Kista2, map: map });-->

   posB=Kista
   return posB;
 }



function compareLocation(){

    // console.log(posA,posB)

// posA = { lat: 59.402435, lng: 17.946482 };
// posB = { lat: 58.402435, lng: 15.946482};

  let distance = Math.sqrt( (posA.lat - posB.lat)**2 + (posA.lng - posB.lng)**2 ); // (((Kista.lat-Kista2.lat)^2 +(Kista.lng-Kista2.lng)2 )^0.5);
  console.log(distance);


 <!--för att visa distance: -->
  <!--document.getElementById("result").innerHTML = "You have arrived at the right location" + distance;-->

  if (distance < 10){
  document.getElementById("result").innerHTML = "You have arrived at the right location";
    document.getElementById("next").innerHTML = "Proceed to the next clue";

          var x = document.getElementById("hide");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
    return true;

  }
  else{
    document.getElementById("next").innerHTML = "You have not yet arrived at the destination";

return false;
  }

}

  function handleLocationError(browserHasGeolocation, infoWindow, pos) {
    infoWindow.setPosition(pos);
    infoWindow.setContent(browserHasGeolocation ?
                          'Error: The Geolocation service failed.' :
                          'Error: Your browser doesn\'t support geolocation.');
    infoWindow.open(map);
  }

</script>

    <script async="" defer="" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_jwnTApaXdy0x7JR_ZqzzxL86__SQoUE&amp;libraries=geometry&amp;callback=initMap">
    </script>

    <div class="item4">
        <br>
        <br>
        <br>
        <p>Click the button to check if you're at the right location!</p>

        <!-- <button onclick="getCurrentPosition()">Try It</button> -->

        <button id="Check" onclick="compareLocation()">Check location</button>
        <p id="result"></p>
        <p id="next"></p>
        <button href="/game2" id="hide" type="button" style="display:none">Next Clue</button>
        <a id="hiddenButton" href="/game3">Next Clue</a>


    </div>

    <div class="item5">
        <h2>Clue 2</h2>

        <div class="clue">You follow the footprints to the park across the street. There is a homeless man sitting on a bench right where the footprints end. You decide to confront him. "Did you see anybody come by here recently? I have been following footprints that end right here where you are and those boots you are wearing seem to match the prints."
            "A man gave me these as he was running towards that building over there. He seemed to be in a hurry". Without hesitation you hurry towards the building that seems abandoned.


        </div>
        <br>
    </div>

    <!--Infoga Score här:-->
    <div class="item6"></div>
</div>

</div>
</body>
</html>





