<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>MurderClueWalk</title>
    <link href="style.css" rel="stylesheet"/>
</head>
<body>
<div>
    <ul>
        <li><a class="active" href="/index">Home</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/game">Game</a></li>
        <li><a href="/tutorial">How To Play</a></li>
    </ul>
</div>
<div class="loginbox">
    <br>
    <h1>Login</h1>
    <form>
        <p>Username</p>
        <input type="text" name="" placeholder="Enter Username">
        <p>Password</p>
        <input type="password" name="" placeholder="Enter Password">
        <br>
        <br>
        <input type="submit" name="" value="Login">
        </p><a href="#">Lost your password?</a><br>
        <a href="#">Dont have an account?</a></p>
    </form>
</div>
</body>
</html>