<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>
    <link href="profile.css" rel="stylesheet"/>
</head>
<body>
<div>
    <ul>
        <li><a class="active" href="/index">Home</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/tutorial">How To Play</a></li>

    </ul>
</div>
        <div class="content">
        <h1>Profile Page</h1><br>
        <img>
        <p>Name</p>
        <p>Rank</p>
        <p>Collected Clues</p>
        <p>Murders Solved</p>
        <p>Distance travelled</p>
        </div>

</body>
</html>