<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>
    <link href="profile.css" rel="stylesheet"/>
</head>
<body>
<div>
    <ul>
        <li><a class="active" href="/index">Home</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/startGame">Game</a></li>
        <li><a href="/tutorial">How To Play</a></li>

    </ul>
</div>
        <div class="content">
        <br>
        <img>
            <p th:text="'Name: ' + ${user.loginName}"/>
            <p th:text="'Rank: ' + ${user.rank}"/>
        <p>Collected Clues: 2</p>
        <p>Murders Solved: 0</p>
            <p th:text="'Distance: ' + ${user.distance} + ' km'"/>
            <p th:text="'Age: ' + ${user.age}"/>
            <p th:text="'Gender: ' + ${user.gender}"/>
            <p th:text="'Country: ' + ${user.country}"/>
        </div>

</body>
</html>