<!DOCTYPE html>
<html lang="en">
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>MurderClueWalk</title>
    <link href="quiz.css" rel="stylesheet"/>
    <title>multiple-choice quiz form</title>
</head>
<body bgcolor="#ffffff">
<h3>Vocabulary Quiz I</h3>
<form
        method="post"
        action=""
        enctype="text/plain"
>
    Check the answer to each multiple-choice question, and click on the "Send
    Form" button to submit the information.
    <P
    >1. The word which means "house" is:<BR />
        <input
                type="radio"
                name="1.The word which means house is"
                value="maison"
        />maison<BR />
        <input
                type="radio"
                name="1.The word which means house is"
                value="quatre"
        />quatre<BR />
        <input
                type="radio"
                name="1.The word which means house is"
                value="soleil"
        />soleil<BR />
        <input
                type="radio"
                name="1.The word which means house is"
                value="poisson"
        />poisson<BR />
    </P>
    <P
    >2. The word which means "fish" is:<BR />
        <input
                type="radio"
                name="2. The word which means fish is"
                value="maison"
        />maison<BR />
        <input
                type="radio"
                name="2. The word which means fish is"
                value="valise"
        />valise<BR />
        <input
                type="radio"
                name="2. The word which means fish is"
                value="soleil"
        />soleil<BR />
        <input
                type="radio"
                name="2. The word which means fish is"
                value="poisson"
        />poisson<BR />
    </P>
    <P
    >3. The word which means "suitcase" is:<BR />
        <input
                type="radio"
                name="3. The word which means suitcase is"
                value="renard"
        />renard<BR />
        <input
                type="radio"
                name="3. The word which means suitcase is"
                value="valise"
        />valise<BR />
        <input
                type="radio"
                name="3. The word which means suitcase is"
                value="soleil"
        />soleil<BR />
        <input
                type="radio"
                name="3. The word which means suitcase is"
                value="poisson"
        />poisson<BR />
    </P>
    <br />
    <br />
    <br />
    <br />
    <input type="submit" value="Send Form" />
    <input type="reset" value="Clear Form" />
</form>
</body>
</html>

