<!DOCTYPE html>
<html lang="en">
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>MurderClueWalk</title>
    <link href="quiz.css" rel="stylesheet"/>
    <title>multiple-choice quiz form</title>
</head>
<body bgcolor="#ffffff">
<h3>The running boots murder quiz</h3>
<form
        method="post"
        action=""
        enctype="text/plain"
>
    Check the answer to each multiple-choice question, and click on the "Send
    Form" button to submit the information!
    <P
    >1. What murder weapon did you find?:<BR />
        <input
                type="radio"
                name="1.What murder weapon did you find?"
                value="knife"
        />knife<BR />
        <input
                type="radio"
                name="1.What murder weapon did you find?"
                value="baseball bat"
        />baseball bat<BR />
        <input
                type="radio"
                name="1.What murder weapon did you find?"
                value="stairs"
        />stairs<BR />
        <input
                type="radio"
                name="1.The word which means house is"
                value="undetermined"
        />undetermined<BR />
    </P>
    <P
    >2. What trail did the murderer leave for you to use?:<BR />
        <input
                type="radio"
                name="2.  What trail did the murderer leave for you to use?"
                value="a blood trail"
        />a blood trail<BR />
        <input
                type="radio"
                name="2.  What trail did the murderer leave for you to use?"
                value="a mud trail"
        />a mud trail<BR />
        <input
                type="radio"
                name="2.  What trail did the murderer leave for you to use?"
                value="a photo"
        />a photo<BR />
        <input
                type="radio"
                name="2. What trail did the murderer leave for you to use?"
                value="a cat"
        />a cat<BR />
    </P>
    <P
    >3. What happened to the boots that were found:<BR />
        <input
                type="radio"
                name="3. What happened to the boots that were found"
                value="they were dumped in a nearby lake"
        />they were dumped in a nearby lake<BR />
        <input
                type="radio"
                name="3. What happened to the boots that were found"
                value="a homeless man found them"
        />a homeless man found them<BR />
        <input
                type="radio"
                name="3. What happened to the boots that were found"
                value="the assailant gave them to a homeless man in the park"
        />the assailant gave them to a homeless man in the park<BR />
        <input
                type="radio"
                name="3. What happened to the boots that were found"
                value="there were only shoes recovered at the scene"
        />there were only shoes recovered at the scene<BR />
    </P>
    <br />
    <br />
    <br />
    <br />
    <input type="submit" value="Send Form" />
    <input type="reset" value="Clear Form" />
</form>
</body>
</html>

