<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Document</title>
    <link href="register.css" rel="stylesheet"/>
</head>
<body>
<!-- <img class="background" src="/images/register.jpg" alt="Background"> -->
<div>
    <ul>
        <li><a class="active" href="/index">Home</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/tutorial">How To Play</a></li>
    </ul>
</div>
<!-- <form action="action_page.php"> -->
<div class="container">
    <form id="login-form" class="form" method="post" action="/register/submit">
        <h1>Register</h1>
        <hr>
        <label for="loginName"><b>Login-Name</b></label> <br>
        <input type="text" placeholder="LoginName" name="loginName" required>

        <label for="password"><b>Password</b></label> <br>
        <input type="text" placeholder="Password" name="password" required> <br>

        <label for="age"><b>Age</b></label> <br>
        <input type="text" placeholder="Age" name="age" required>

        <label for="gender"><b>Gender</b></label> <br>
        <input type="text" placeholder="Gender" name="gender" required>

        <label for="country"><b>Country</b></label> <br>
        <input type="text" placeholder="Country" name="country" required>

        <hr>
        <button type="submit" name="submit" class="registerbtn" value="submit">Register</button>
    </form>
</div>

</div>
</body>
</html>