<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game</title>
    <link href="startGame.css" rel="stylesheet"/>
</head>
<body class="startGame">
<audio id="my_audio" src="/sounds/backgroundSound.mp3" loop="loop"></audio>
<div>
    <ul>
        <li><a class="active" href="/index">Home</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="/about">About</a></li>

        <li><a href="/tutorial">How To Play</a></li>
    </ul>
</div>
<div class="grid-container">
    <div class="item1"><h1> Murder clue walk </h1>
    </div>


    <script>
        //input script

    </script>


    <div class="startBtn">



        <button onclick= "location.href='/game'" id="start" type="button">Start Game</button>
        <!--<a id="hiddenButton" href="/game2">Next Clue</a>-->

    </div>


</div>

</div>
</body>
</html>





