<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tutorial</title>
    <link href="about.css" rel="stylesheet" />
</head>
<body>
<div>
    <ul>
        <li><a class="/active" href="/index">Home</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="/about">About</a></li>

    </ul>
</div>
<div class="team-section">
    <h1>MurderClueWalk</h1>
    <span class="border"></span>
    <div class="ps">
        <a class="img" href="#"><img src="murdascene.jpg" alt=""></a>
    </div>
    <h2>How to:</h2>
    <p>
        You start the game by pressing the game tab on your mobile device. Click the "" buttom to start your mystery.<br>
        Mysteries are comprised of the inital information of a murder case. Your job, is to solve it with the help of clues that you pick up from nearby locations!<br>
        Make sure to allow your location settings to be accessed by the app.<br>
    </p>
    <p>
        This will now trigger the next event of the game. within a 1 km radius of your current position a clue will able to be found. Go there and collect it detective!
        You have to pick up 3 clues to be able to finish the mystery.<br>

        Once they are all collected get yourself back home, grab a cup of joe, and answer the quiz that now will be available to you. Solve the mystery by using the gathered clues.
        The score you will receive depends on your results on the quiz.<br>

        To receive any points make sure to collect all the clues! <br>

        Congratulations you have solved a mystery, now go out there and score as many points you can to show the world who's the greatest detective in the world!
    </p>
</div>

</body>
</html>