<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tutorial</title>
    <link href="tutorial.css" rel="stylesheet"/>
</head>
<body>
<div>
    <ul>
        <li><a class="/active" href="/index">Home</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/tutorial">How To Play</a></li>
    </ul>
</div>

<div class="grid-container">
    <div class="item1"><h1>MurderClueWalk</h1>
    </div>

    <div class="item2">
        <h2>How to:</h2>
        <div class="field">
        <p>
            First you need to register and/or log in.
            Then start the game by pressing the game tab on your mobile device. Click the "Check location" button to start your
            mystery.<br>
            Mysteries are comprised of the initial information of a murder case. Your job, is to solve it with the help
            of clues that you pick up from nearby locations!<br>
            Make sure to allow your location settings to be accessed by the app.<br>
        </p>
        </div>
    </div>

    <div class="item3">
        <img id="image1" src="/images/darkmap1.jpg">
    </div>
    <div class="item4">
        <div class="field">
        <p>
            This will now trigger the next event of the game. within a 1 km radius of your current position a clue will
            able to be found. Go there and collect it detective!
            You have to pick up 3 clues to be able to finish the mystery.<br>

            Once they are all collected get yourself back home, grab a cup of joe, and answer the quiz that now will be
            available to you. Solve the mystery by using the gathered clues.
            The score you will receive depends on your results on the quiz.<br>

            To receive any points make sure to collect all the clues! <br>
        </p>
        </div>
    </div>
    <div class="item3">
        <img id="image2" src="/images/cluedetective.jpg">
    </div>
    <div class="item5">
        <div class="field">
        <p>Congratulations you have solved a mystery, now go out there and score as many points you can to show the world who's the greatest detective in the world!-->
        </p>
        </div>
    </div>
</div>

</body>
</html>
