<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link href="register.css" rel="stylesheet" />
</head>
<body>
<!-- <img class="background" src="/images/register.jpg" alt="Background"> -->
<div>
    <ul>
        <li><a class="active" href="#home">Home</a></li>
        <li><a href="#register">Register</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
    </ul>
</div>
<!-- <form action="action_page.php"> -->
<div class="container">
    <h1>Register</h1>
    <hr>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required>

    <label for="age"><b>Age</b></label>
    <input type="text" placeholder="Age" name="age" required>
    <label for="gender"><b>Gender</b></label>
    <input type="text" placeholder="Gender" name="gender" required>
    <label for="country"><b>Country</b></label>
    <input type="text" placeholder="Country" name="country" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <label for="psw-repeat"><b>Repeat Password</b></label>
    <input type="password" placeholder="Repeat Password" name="psw-repeat" required>

    <hr>

    <button type="submit" class="registerbtn">Register</button>

</div>

</div>
</body>
</html>
